.navbar-default {
    /*background-color: rgb(175, 51, 51);*/
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    border: none;
}
.navbar-brand {
    background: url(../images/logo_white.svg) center / 150px auto no-repeat;
    width: 170px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.navbar.sidebar-right .navbar-right {
    margin-right: 470px;
}
    
@media (min-width: 705px){
    .navbar.sidebar-right .navbar-toggle {
        margin-right: 495px;
    }
}

@media (min-width: 768px) {   
    .navbar-default {
        /*background-color: rgba(175, 51, 51, 0.7);*/
    }
    .navbar-default.affix {
        /*background-color: rgb(175, 51, 51);*/
    }
    /*.navbar-default .nav > li > a,
    .navbar-default .nav > li > a:focus,
    .navbar-default .nav > li > a:hover,
    .navbar-default .nav > li > a:focus:hover {
        color: white;
    }*/
    .navbar-brand {
        background: url(../images/logo_white.svg) center / 200px auto no-repeat;
        width: 220px;
    }
    .navbar-default.affix .navbar-brand {
        background: url(../images/logo_white.svg) center / 150px auto no-repeat;
        width: 170px;
    }
}
header {
    position: relative;
    width: 100%;
    min-height: auto;
    background-image: url('../images/header.jpg');
    background-position: left;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    text-align: center;
    /*color: white;*/
}
header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
}
header .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}
header .header-content .header-content-inner hr {
    margin: 30px auto;
}
header .header-content .header-content-inner p {
    font-weight: 300;
    /*color: rgba(255, 255, 255, 0.7);*/
    font-size: 16px;
    margin-bottom: 50px;
}
@media (min-width: 768px) {
    header {
        min-height: 500px;
        background-position: left;
        background-size: 200% auto;
        -webkit-background-size: 200% auto;
        -moz-background-size: 200% auto;
        -o-background-size: 200% auto;
    }
    header .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px;
    }
    header .header-content .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    header .header-content .header-content-inner h1 {
        font-size: 50px;
    }
    header .header-content .header-content-inner p {
        font-size: 18px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 992px) {
    header {
        min-height: 500px;
        background-position: left;
        background-size: 130% auto;
        -webkit-background-size: 130% auto;
        -moz-background-size: 130% auto;
        -o-background-size: 130% auto;
    }
}
.admidio-content {
    padding: 10px;
}
footer
{
    background-color: rgb(174, 215, 91);
    border-top: solid 5px rgb(51, 153, 153);
    padding-top: 10px;
}

.right-sidebar-navigation {
    transition: all 0.5s ease;
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 1600;
    background: #03a9f5;
    max-width: 64px;
    max-height: 64px;
    min-width: 64px;
    min-height: 64px;
    border-radius: 64px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
    width: 10%;
    overflow: hidden;
    opacity: 1;
    display: none;
}

.right-sidebar-navigation.in-content {
    transition: all 0.5s ease,border-radius 0.5s ease 0.2s;
    right: 16px;
    bottom: 16px;
    margin-right: 0px;
    max-width: 48px;
    max-height: 48px;
    min-width: 48px;
    min-height: 48px;
    border-radius: 48px;
}

.right-sidebar-navigation.in-content .right-sidebar-btn .glyphicon {
    transition: all 0.5s ease;
    font-size: 28px;
    top: 10px;
    left: 10px;
}

.right-sidebar-navigation .right-sidebar-btn {
    cursor: pointer;
    transition: all 0.5s ease;
    max-height: 64px;
    max-width: 64px;
    opacity: 1;
}

.right-sidebar-navigation .right-sidebar-btn .glyphicon {
    font-size: 40px;
    color: #fff;
    font-size: 38px;
    top: 13px;
    left: 13px;
    position: absolute;
    transition: all 0.5s ease;
    z-index: 5050;
    opacity: 1;
}

.right-sidebar-navigation .right-sidebar-link {
    transition: max-width 0.5s ease,max-height 0.5s ease;
    bottom: 16px;
    z-index: 5001;
    overflow: hidden;
    border-radius: 3px;
    max-height: 0px;
    max-width: 0%;
    opacity: 0;
}

.right-sidebar-navigation .right-sidebar-link a {
    display: block;
    border-bottom: 1px solid #bcbcbc;
    text-transform: uppercase;
    padding: 14px 35px 14px 48px;
    cursor: pointer;
    color: #757575;
    background-color: #FFFFFF;
    max-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.right-sidebar-navigation .right-sidebar-link a:last-child {
    border: none;
}

.right-sidebar-navigation .right-sidebar-link a.grey_background {
    background-color: #EEEEEE;
    color: #212121;
}

.right-sidebar-navigation .right-sidebar-link a:active {
    background-color: #dbdbdb;
}

.right-sidebar-navigation .right-sidebar-link a .glyphicon {
    display: none;
}

[class^="glyphicon-"], [class*=" glyphicon-"] {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.right-sidebar-navigation-active {
    transition: all 0.5s ease;
    position: fixed;
    max-height: 250px;
    min-height: 64px;
    max-width: 98%;
    z-index: 1600;
    bottom: 16px;
    background: #FFFFFF;
    margin-left: 16px;
    margin-right: 16px;
    right: 0%;
    border-radius: 3px;
}

@media screen and (max-width: 481px) {
    .right-sidebar-navigation-active {
        width: calc(100% - 32px);
    }
}

@media screen and (min-width: 481px) {
    .right-sidebar-navigation-active {
        width: 50%;
    }
}

.right-sidebar-navigation-active .right-sidebar-btn {
    transition: all 0.3s ease;
    max-height: 0px;
    max-width: 0px;
    opacity: 1;
}

.right-sidebar-navigation-active .right-sidebar-btn .glyphicon {
    opacity: 0;
    display: none;
}

.right-sidebar-navigation-active .right-sidebar-link {
    transition: max-height 0.5s ease,opacity 0.5s ease;
    z-index: 5001;
    border-radius: 3px;
    max-height: 350px;
    max-width: 100%;
    width: 100%;
    opacity: 1;
}

.right-sidebar-navigation-active .right-sidebar-link a span.text_label {
    max-width: 95%;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.right-sidebar-navigation-active .right-sidebar-link a .glyphicon {
    display: inline-block;
}

.right-sidebar-navigation-active.in-content {
    transition: all 0.5s ease;
    min-height: 48px;
    height: auto;
    margin-left: 16px;
    margin-right: 16px;
    right: 0%;
    max-height: 250px;
    max-width: 98%;
    border-radius: 3px;
}

@media screen and (max-width: 481px) {
    .right-sidebar-navigation-active.in-content {
        width: calc(100% - 32px);
    }
}

@media screen and (min-width: 481px) {
    .right-sidebar-navigation-active.in-content {
        width: 50%;
    }
}

.wrapper .disabled-background {
    position: fixed;
    z-index: 1501;
    width: 100%;
    height: 0%;
    opacity: 0;
    top: 0px;
    transition: margin 0.5s ease,opacity 0.5s ease,height 0s ease 0.5s;
    background-color: rgba(0,0,0,0.4);
}

.wrapper .right-sidebar-close {
    background-color: #0277bd;
    height: 64px;
    width: 64px;
    z-index: 2001;
    position: fixed;
    right: -100px;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    color: #FFFFFF;
    cursor: pointer;
}

.wrapper .right-sidebar-close .glyphicon {
    font-size: 30px;
    position: relative;
    top: 18px;
    left: 18px;
}

.wrapper .right-sidebar-content {
    transition: all 0.5s ease;
    position: fixed;
    overflow: hidden;
    z-index: 2000;
    height: 100%;
    background-color: #FFFFFF;
    display: none;
    top: 0px;
}

@media screen and (max-width: 481px) {
    .wrapper .right-sidebar-content {
        width: calc(100% - 64px);
        right: calc(-1 * (100% - 64px));
    }
}

@media screen and (min-width: 481px) {
    .wrapper .right-sidebar-content {
        width: 480px;
        right: -480px;
    }
}

.wrapper .right-sidebar-content .contentcontainer {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 200px;
}

.wrapper .right-sidebar-content .sticky-headline {
    text-transform: uppercase;
    background-color: #03A9F4;
    font-weight: bold;
    color: #FFFFFF;
    padding: 22px 16px;
    top: 0;
    right: -480px;
    position: fixed;
    transition: right 0.5s ease;
    z-index: 2000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 481px) {
    .wrapper .right-sidebar-content .sticky-headline {
        width: calc(100% - 64px);
        right: calc(-1 * (100% - 64px));
    }
}

@media screen and (min-width: 481px) {
    .wrapper .right-sidebar-content .sticky-headline {
        width: 480px;
        right: -480px;
    }
}

.wrapper .right-sidebar-content div ul {
    padding-left: 0px;
    margin-bottom: 32px;
}

.wrapper .right-sidebar-content div ul:first-child {
    margin-top: 64px;
}

.wrapper .right-sidebar-content div ul li {
    background-color: #EEEEEE;
    list-style: none;
    margin: 1px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #03A9F4;
    position: relative;
}

.wrapper .right-sidebar-content div ul li.sidebar_headline {
    color: #212121;
    font-weight: bold;
    padding: 6px 16px;
    white-space: normal;
}

.wrapper .right-sidebar-content div ul li.current-page a {
    color: #757575;
    cursor: default;
}

.wrapper .right-sidebar-content div ul li.current-page .glyphicon {
    display: none;
}

.wrapper .right-sidebar-content div ul li a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

.wrapper .right-sidebar-content div ul li a:active {
    background-color: #dbdbdb;
    text-decoration: none;
}

.wrapper .right-sidebar-content div ul li a:focus {
    text-decoration: none;
}

.wrapper .right-sidebar-content div ul li a span.schema_span {
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrapper .right-sidebar-content div ul li a .glyphicon {
    position: absolute;
    right: 10px;
    margin-top: 4px;
}

.wrapper .col-xs-12, .wrapper .navbar {
    transition: margin 0.5s ease;
}

.wrapper.wrapper-disabled .disabled-background {
    opacity: 1;
    height: 100%;
    transition: margin 0.5s ease,opacity 0.5s ease;
}

.wrapper.sidebar-right {
    overflow-x: visible !important;
}

.wrapper.sidebar-right .right-sidebar-close {
    opacity: 1;
}

@media screen and (max-width: 481px) {
    .wrapper.sidebar-right .right-sidebar-close {
        right: calc(100% - 64px);
    }
}

@media screen and (min-width: 481px) {
    .wrapper.sidebar-right .right-sidebar-close {
        right: 0px;
    }
}

.wrapper.sidebar-right .right-sidebar-navigation {
    transition: all 0s ease;
    opacity: 0;
    max-height: 0px;
    max-width: 0px;
}

@media screen and (max-width: 481px) {
    .wrapper.sidebar-right .disabled-background {
        margin-left: calc(-1 * (100% - 64px));
    }
}

@media screen and (min-width: 481px) {
    .wrapper.sidebar-right .disabled-background {
        margin-left: -480px;
    }
}

.wrapper.sidebar-right .right-sidebar-content {
    right: 0px;
}

.wrapper.sidebar-right .right-sidebar-content .sticky-headline {
    top: 0;
    right: 0;
}

.sidebar {
    position: fixed;
    top: 50px;
    left: -320px;
    width: 280px;
    height: 100%;
    padding: 0;
    z-index: 1800;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s;
}

.sidebar.active {
    display: block;
    left: 0;
    -webkit-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s;
}

.sidebar button {
    position: absolute;
    right: -40px;
    top: 8px;
}

.sidebar-header {
    background: #f0f2f6;
    border-bottom: 2px solid #d5d5d5;
    position: relative;
    height: 50px;
    z-index: 10;
}

.sidebar-header .logo {
    margin-top: 8px;
    height: 34px;
}

.sidebar-nav {
    position: relative;
    background: #fff;
    padding: 20px 20px 50px 20px;
    width: inherit;
    height: inherit;
    top: 0;
}

.sidebar-nav li {
    font-size: 15px;
    line-height: 20px;
    background: #f0f2f6;
    border: 1px solid #d5d5d5;
    color: #008ac9;
    margin-bottom: 10px;
}

.sidebar-nav li a {
    padding: 8px 13px;
}

.sidebar-nav li:last-child {
    margin-bottom: 40px;
}

.sidebar-nav li[disabled] {
    cursor: default;
}

.sidebar-nav li[disabled] a {
    color: #afb2ba;
    cursor: inherit;
}

.sidebar-nav li[disabled] a:hover {
    background: #f0f2f6;
}

.sidebar-nav li.sidebar-nav-head {
    font-family: "Arvo";
    font-size: 18px;
    color: #333;
    padding: 0;
    border: 0;
    background: none;
    margin: 30px 0 15px 0;
}

.sidebar-nav li.sidebar-nav-head:first-child {
    margin-top: 0;
}

.black-canvas {
    position: absolute;
    z-index: 1500;
    width: 100%;
    height: 0;
    background: #000;
    opacity: 0;
    top: 0;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.black-canvas.active {
    height: 100%;
    opacity: 0.5;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.sidebar-gradient-overlay {
    position: absolute;
    width: 100%;
    height: 80px;
    z-index: 1000;
    bottom: 0;
    pointer-events: none;
    touch-action: none;
    -ms-touch-action: none;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255,255,255,0)),color-stop(100%, #ffffff));
    background-image: -moz-linear-gradient(rgba(255,255,255,0),#ffffff);
    background-image: -webkit-linear-gradient(rgba(255,255,255,0),#ffffff);
    background-image: linear-gradient(rgba(255,255,255,0),#ffffff);
}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 991px) {
    .sidebar {
        top: 0;
    }

    .sidebar-nav {
        overflow: auto;
        width: inherit;
    }
}

@media screen and (min-width: 992px) {
    body {
        overflow: auto !important;
    }

    .sidebar {
        top: 75px;
        z-index: 500;
    }

    .sidebar-gradient-overlay {
        display: none;
    }

    .sidebar-nav {
        border: 1px solid #d5d5d5;
        -webkit-box-shadow: 0 5px 10px #dedede;
        box-shadow: 0 5px 10px #dedede;
    }

    .black-canvas {
        display: none !important;
    }
}

.btn-to-top {
    position: fixed;
    background: #3b465f;
    opacity: 0.7;
    bottom: 18px;
    left: 15px;
    width: 40px;
    height: 40px;
    z-index: 1600;
    border-radius: 21px;
    cursor: pointer;
    display: none;
}

.btn-to-top .glyphicon {
    font-size: 30px;
    color: #fff;
    left: 5px;
    top: 3px;
    position: relative;
}

.wrapper {
    position: relative;
}

.wrapper.no-margin {
    margin: 0;
}

body {
    overflow-x: hidden !important;
    overflow-y: auto;
    scroll: no;
    position: relative;
}

body > div {
    overflow-x: hidden !important;
}